<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
</head>
<body>
<video controls
       src="screen_share001.Webm"></video>

<!--    <button onclick="playAudio()">Play</button>-->
<!--    <button onclick="pauseAudio()">Pause</button>-->

<!--    <script>-->
<!--        var audio = document.getElementById("audioPlayer");-->

<!--        function playAudio() {-->
<!--            audio.play();-->
<!--        }-->

<!--        function pauseAudio() {-->
<!--            audio.pause();-->
<!--        }-->
<!--    </script>-->
</body>
</html>